// @import "node_modules/bootstrap/scss/functions"; 
// @import "node_modules/bootstrap/scss/variables";


$wine: #7D1538;
$bluish:#0A122A;

$primary: $wine ;
$secondary:$bluish;

$theme-colors: (
  primary: #7D1538,
  secondary:#0A122A
);

@import "node_modules/bootstrap/scss/bootstrap";