// @import "node_modules/bootstrap/scss/functions"; 
// @import "node_modules/bootstrap/scss/variables";


$wine: #37718E;
$bluish:#f45e29;

$primary: $wine ;
$secondary:$bluish;

$theme-colors: (
  primary: #37718E,
  secondary:#f45e29
);

@import "node_modules/bootstrap/scss/bootstrap";